@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap");

:root {
    --header-height: 3.5rem;

    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 0%);
    --blue-color: #3b5ddb;
    --blue-light-color: #d2dafc;
    --deep-blue: blue;
    --body-font: "Montserrat Alternates", sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --font-regular: 400;
    --font-medium: 500;
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 1150px) {
    :root {
        --normal-font-size: 1rem;
    }
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font), sans-serif;
    font-size: var(--normal-font-size);
    background-color: var(--white-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

/* NAVBAR */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--blue-color);
    z-index: var(--z-fixed);
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--white-color);
    font-weight: var(--font-medium);

}

.nav__logo img {
    width: 60px;
}

.nav__close,
.nav__toggle {
    display: flex;
    color: var(--white-color);
    font-size: 1.5rem;
    cursor: pointer;
}

@media screen and (max-width: 1150px) {
    .nav__menu {
        position: fixed;
        left: -100%;
        top: 0;
        background-color: var(--blue-color);
        width: 100%;
        height: 100%;
        padding: 6rem 3.5rem 4.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: left .4s;
    }

    .nav__item {
        transform: translateX(-150px);
        visibility: hidden;
        transition: transform .4s ease-out, visibility .4s;
    }

    .nav__item:nth-child(1) {
        transition-delay: .1s;
    }
    .nav__item:nth-child(2) {
        transition-delay: .2s;
    }
    .nav__item:nth-child(3) {
        transition-delay: .3s;
    }
    .nav__item:nth-child(4) {
        transition-delay: .4s;
    }
    .nav__item:nth-child(5) {
        transition-delay: .5s;
    }

    .nav__logo img {
        width: 30px;
    }
}

.nav__list,
.nav__social {
    display: flex;
}

.nav__list {
    flex-direction: column;
    row-gap: 3rem;
}

.nav__link {
    position: relative;
    color: var(--white-color);
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    display: inline-flex;
    align-items: center;
    transition: opacity .4s;
}

.nav__link i {
    font-size: 2rem;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s, visibility .4s;
}

.nav__link span {
    position: relative;
    transition: margin .4s;
}

.nav__link span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: var(--white-color);
    transition: width .4s ease-out;
}

.nav__link:hover span {
    margin-left: 2.5rem;
}

.nav__link:hover i {
    opacity: 1;
    visibility: visible;
}

.nav__link:hover span::after {
    width: 100%;
}

.nav__list:has(.nav__link:hover) .nav__link:not(:hover) {
    opacity: .4;
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

.nav__social {
    column-gap: 1rem;
}

.nav__social-link {
    color: var(--white-color);
    font-size: 1.5rem;
    transition: transform .4s;
}

.nav__social-link:hover {
    transform: translateY(-.25rem);
}

.show-menu {
    left: 0;
}

.show-menu .nav__item {
    visibility: visible;
    transform: translateX(0);
}

@media screen and (min-width: 1150px) {
    .container {
        margin-inline: auto;
    }

    .nav {
        height: calc(var(--header-height) + 2rem);
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__link {
        font-size: var(--normal-font-size);
    }

    .nav__link i {
        font-size: 1.5rem;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 3.5rem;
    }

    .nav__menu {
        display: flex;
        align-items: center;
        column-gap: 3.5rem;
    }
}

/* HERO */
.hero {
    background: url("../images/services/laptop-service.jpg") no-repeat center center/cover;
    position: relative;
    height: 100vh;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--blue-color);
    opacity: 0.7;
}

.hero-item {
    max-width: 1100px;
    margin: auto;
    padding: 200px 20px 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: var(--white-color);
}

.hero-item > *:first-child > h1,
.hero-item > *:first-child > hr,
.hero-item > *:first-child > p,
.hero-item > *:first-child > a {
    position: relative;
    z-index: 10;

}

.hero-item > *:first-child > h1 {
    font-size: 30px;
    text-shadow: 2px 2px var(--blue-color);
}

.hero-item > *:first-child > *:nth-child(2) {
    margin-bottom: 20px;
}

.hero-item > div > hr {
    background-color: var(--white-color);
    width: 12%;
    height: 3px;
    margin-bottom: 20px;
}

.hero-item > div > p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-shadow: var(--black-color) 1px 0 10px;
}

.hero-item > div > a {
    color: var(--white-color);
    background: var(--deep-blue);
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.4s ease-out;
}

.hero-item > div > a:hover {
    color: var(--deep-blue);
    background: var(--white-color);
}

@media (max-width: 800px) {
    .hero-item {
        grid-template-columns: 1fr;
        padding-top: 100px;
    }
}

/* GENERAL SOLUTION */
.general {
    background: var(--blue-light-color);
    padding: 100px 20px;
}

.general-items {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.general-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.general-items > div:first-child {
    line-height: 2;
}

.general-items a {
    color: var(--black-color);
}

.general-items a:hover {
    color: var(--deep-blue);
}

@media (max-width: 800px) {
    .general-items {
        grid-template-columns: 1fr;
    }
}

/* PHOTO SUTDIO */
.photo {
    background: var(--blue-light-color);
    padding: 100px 20px;
}

.photo-items {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.photo-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.photo-items > div:first-child {
    line-height: 2;
}

.photo-items a {
    color: var(--black-color);
}

.photo-items a:hover {
    color: var(--deep-blue);
}

@media (max-width: 800px) {
    .photo-items {
        grid-template-columns: 1fr;
    }
}

/* CSC */
.csc {
    background: var(--blue-light-color);
    padding: 100px 20px;
}

.csc-items {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.csc-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.csc-items > div:first-child {
    line-height: 2;
}

.csc-items a {
    color: var(--black-color);
}

.csc-items a:hover {
    color: var(--deep-blue);
}

@media (max-width: 800px) {
    .csc-items {
        grid-template-columns: 1fr;
    }
}